---
layout: default
title: Home
---

<header class="clean" style="height: 450px; background-image: url({{ site.cover }});">
	{% include top.html %}
    <div id="home-title">
        <a href="{{ site.url }}"><img src="{{ site.icon }}" class="site-icon" /></a>
        <a href="{{ site.url }}"><h1>Open Science Workshops</h1></a>
	</div>
</header>

<div id="article">
    <h2>Welcome</h2>
    <p>We are launching Open Science Workshops in order to bring open source
    techniques to the science community. We want to show that it is possible
    to do open science now, and help everyone explore all the really excellent
    tools out there that aid the research process and promote openness.
    </p>

    <h2>Goal</h2>
    <blockquote>Contribute to the betterment of the world by making it easier for people to do science; i.e. make it easy to replicate results, understand results, collaborate, and build upon existing work.
    </blockquote>
    <p>Check out the <a href="/goals">longer term goals</a> if you want more detail.</p>


    <h2>The event</h2>

    <p>It's <b>completely free</b>, and being held on the 19th of July, 2014, in
    Melbourne, Australia, at <a href="http://inspire9.com/">Inspire9</a>
    (Level 1, 41 Stewart Street, Richmond).</p>

    <p>For those who can't attend, the hashtag will be <b><a href="https://twitter.com/search?q=%23OpenScienceMelb">#OpenScienceMelb</a></b>.</p>

    <p>Here's a video of <a href="https://github.com/silky">Noon Silk</a> talking about the event!  </p>
    <iframe src="//player.vimeo.com/video/97493014" width="100%" height="371" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/97493014">Open Science Workshop - Melbourne, 19th of July</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

    <h2>Why should you attend?</h2>

    <p>You should attend because the open source world is freely providing many
    amazing tools that can directly help with the research process! 
    In particular, they can help with the organisation of work, efficiency of
    collaboration, and general enjoyment of life!
    </p>


    <h3>Agenda</h3>
    <p>The day is going to be focused on understanding, and getting started
    with, two essential concepts:
    </p>
    <ul>
        <li>collaboration on documents, code and data</li>
        <li>running and working with code and data in a collaborative environment</li>
    </ul>
    <p>To do this, we will be using <a href="https://github.com/">GitHub</a>
    and the <a href="http://sagemathcloud.com/">SageMathCloud</a>. We will
    present and work with these concepts assuming no background knowledge.
    </p>

    <p>Full breakdown of the day</p>

<iframe
    src="https://www.google.com/calendar/embed?showCalendars=0&amp;mode=AGENDA&amp;height=500&amp;wkst=1&amp;src=hm7sfgsc0dof41c2foi16epumk%40group.calendar.google.com&amp;color=%230F4B38&amp;ctz=Australia%2FSydney"
    style=" border:solid 1px #777 " width="100%" height="500" frameborder="0" scrolling="no"></iframe>

    <p>You will need to bring a laptop (and preferably be able to install
    things on it.)</p>

    <h3>Registration</h3>
    <p>Below, or head over to <a href="http://melbourne-open-science-workshop-2014.eventbrite.com.au/">
        EventBrite - Open Science Workshop, Melbourne Australia 2014</a>.</p>

    <div style="width:100%; text-align:left;" ><iframe
            src="https://www.eventbrite.com.au/tickets-external?eid=11644419773&ref=etckt"
            frameborder="0" height="300" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com.au/r/etckt">Event management</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://melbourne-open-science-workshop-2014.eventbrite.com.au/?ref=etckt">Melbourne Open Science Workshop</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com.au?ref=etckt">Eventbrite</a></div></div>



    <h2>Event sponsors</h2>
    <p>We would like to thank the following organisations for sponsoring this
    workshop, and helping keep it completely free!</a></p>
<center>

    <table style='border: 0;'>
        <tr><td>
                <p>
                <a href="https://github.com/"><img src="/media/Octocat.png"
                    style='width:210px;'
                    /></a></p>
    </td>
    <td>
        <p><a href="http://inspire9.com/"><img style='width:210px;'
            src="/media/Inspire9.png" /></a></p>
    </td>
    <td>
        <p><a href="http://biarrinetworks.com/"><img style='width:210px';
            src="/media/BiarriNetworks.png" /></a></p>
    </td>
</tr>
<tr>
    <td><p><a href="https://github.com">GitHub</a></p></td>
    <td><p><a href="http://inspire9.com">Inspire9</a></p></td>
    <td><p><a href="http://biarrinetworks.com">Biarri Networks</a></p></td>
</tr>
</table>
</center>

    <h2>Sign up to a newsletter</h2>
    <p>This newsletter will be used to advertise future events, and for no
    other purpose. You can also just subscribe to the blog below (but that
    may contain more announcements.)
    </p>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://github.us8.list-manage1.com/subscribe/post?u=c4ee7e41dbadcb24371b1a2fe&amp;id=78d6169ca0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<h2>Subscribe to our newsletter</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_c4ee7e41dbadcb24371b1a2fe_78d6169ca0" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>
<script type="text/javascript">
var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
try {
    var jqueryLoaded=jQuery;
    jqueryLoaded=true;
} catch(err) {
    var jqueryLoaded=false;
}
var head= document.getElementsByTagName('head')[0];
if (!jqueryLoaded) {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = '//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
    head.appendChild(script);
    if (script.readyState && script.onload!==null){
        script.onreadystatechange= function () {
              if (this.readyState == 'complete') mce_preload_check();
        }    
    }
}

var err_style = '';
try{
    err_style = mc_custom_error_style;
} catch(e){
    err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
}
var head= document.getElementsByTagName('head')[0];
var style= document.createElement('style');
style.type= 'text/css';
if (style.styleSheet) {
  style.styleSheet.cssText = err_style;
} else {
  style.appendChild(document.createTextNode(err_style));
}
head.appendChild(style);
setTimeout('mce_preload_check();', 250);

var mce_preload_checks = 0;
function mce_preload_check(){
    if (mce_preload_checks>40) return;
    mce_preload_checks++;
    try {
        var jqueryLoaded=jQuery;
    } catch(err) {
        setTimeout('mce_preload_check();', 250);
        return;
    }
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
    head.appendChild(script);
    try {
        var validatorLoaded=jQuery("#fake-form").validate({});
    } catch(err) {
        setTimeout('mce_preload_check();', 250);
        return;
    }
    mce_init_form();
}
function mce_init_form(){
    jQuery(document).ready( function($) {
      var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
      var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
      $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
      options = { url: 'http://github.us8.list-manage.com/subscribe/post-json?u=c4ee7e41dbadcb24371b1a2fe&id=78d6169ca0&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                    beforeSubmit: function(){
                        $('#mce_tmp_error_msg').remove();
                        $('.datefield','#mc_embed_signup').each(
                            function(){
                                var txt = 'filled';
                                var fields = new Array();
                                var i = 0;
                                $(':text', this).each(
                                    function(){
                                        fields[i] = this;
                                        i++;
                                    });
                                $(':hidden', this).each(
                                    function(){
                                        var bday = false;
                                        if (fields.length == 2){
                                            bday = true;
                                            fields[2] = {'value':1970};//trick birthdays into having years
                                        }
                                    	if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                    		this.value = '';
									    } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                    		this.value = '';
									    } else {
									        if (/\[day\]/.test(fields[0].name)){
    	                                        this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;									        
									        } else {
    	                                        this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
	                                        }
	                                    }
                                    });
                            });
                        $('.phonefield-us','#mc_embed_signup').each(
                            function(){
                                var fields = new Array();
                                var i = 0;
                                $(':text', this).each(
                                    function(){
                                        fields[i] = this;
                                        i++;
                                    });
                                $(':hidden', this).each(
                                    function(){
                                        if ( fields[0].value.length != 3 || fields[1].value.length!=3 || fields[2].value.length!=4 ){
                                    		this.value = '';
									    } else {
									        this.value = 'filled';
	                                    }
                                    });
                            });
                        return mce_validator.form();
                    }, 
                    success: mce_success_cb
                };
      $('#mc-embedded-subscribe-form').ajaxForm(options);
      
      
    });
}
function mce_success_cb(resp){
    $('#mce-success-response').hide();
    $('#mce-error-response').hide();
    if (resp.result=="success"){
        $('#mce-'+resp.result+'-response').show();
        $('#mce-'+resp.result+'-response').html(resp.msg);
        $('#mc-embedded-subscribe-form').each(function(){
            this.reset();
    	});
    } else {
        var index = -1;
        var msg;
        try {
            var parts = resp.msg.split(' - ',2);
            if (parts[1]==undefined){
                msg = resp.msg;
            } else {
                i = parseInt(parts[0]);
                if (i.toString() == parts[0]){
                    index = parts[0];
                    msg = parts[1];
                } else {
                    index = -1;
                    msg = resp.msg;
                }
            }
        } catch(e){
            index = -1;
            msg = resp.msg;
        }
        try{
            if (index== -1){
                $('#mce-'+resp.result+'-response').show();
                $('#mce-'+resp.result+'-response').html(msg);            
            } else {
                err_id = 'mce_tmp_error_msg';
                html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';
                
                var input_id = '#mc_embed_signup';
                var f = $(input_id);
                if (ftypes[index]=='address'){
                    input_id = '#mce-'+fnames[index]+'-addr1';
                    f = $(input_id).parent().parent().get(0);
                } else if (ftypes[index]=='date'){
                    input_id = '#mce-'+fnames[index]+'-month';
                    f = $(input_id).parent().parent().get(0);
                } else {
                    input_id = '#mce-'+fnames[index];
                    f = $().parent(input_id).get(0);
                }
                if (f){
                    $(f).append(html);
                    $(input_id).focus();
                } else {
                    $('#mce-'+resp.result+'-response').show();
                    $('#mce-'+resp.result+'-response').html(msg);
                }
            }
        } catch(e){
            $('#mce-'+resp.result+'-response').show();
            $('#mce-'+resp.result+'-response').html(msg);
        }
    }
}

</script>
<!--End mc_embed_signup-->

    <h2>Help with the workshop!</h2>
    <p>
        We are currently looking for volunteers to be involved in all aspects
        of this project! For the upcoming workshop in Melbourne, if you are
        willing to: 
        <ul>
            <li> talk about GitHub and help with setup, </li>
            <li> talk about IPython, help with basics, </li>
            <li> be excited and generally help out, </li>
        </ul>

        then we want to hear from you! To get involved, email 
        <a href="mailto:noonsilk+osw@gmail.com">Noon Silk</a>, or
        even better just head over to the project on <a
            href="https://github.com/OpenScienceWorkshops/">GitHub</a> and
        start forking and pull requesting things!
        </p>


        <h2>Who is behind this?</h2>

        <p>Check out the <a href="/about">about</a> page for more information
        on this! The bottom line is - we all are! Let's all work together to
        get wider adoption of open source software and attitudes in the
        sciences and in society at large!</p>
</div>

<div id="post-list">
    <h2>News</h2>
	{% for post in paginator.posts %}
		<div>
			<span class="post-date">{{ post.date | date_to_long_string }}</span>
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
			<p class="post-description">{{ post.content | strip_html | truncatewords: 50 }}</p>
		</div>
		<br>
	{% endfor %}
</div>

<nav class="pagination" role="navigation">
	{% if paginator.next_page %}
		<a class="newer-posts" href="/page{{paginator.next_page}}">&larr; Older posts</a>
	{% endif %}
	<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
	{% if paginator.previous_page %}
		{% if paginator.page == 2 %}
			<a class="older-posts" href="/">Newer posts &rarr;</a>
		{% else %}
			<a class="older-posts" href="/page{{paginator.previous_page}}">Newer posts &rarr;</a>
		{% endif %}
	{% endif %}
</nav>
<footer class="clean" style="background-image: url({{ site.cover }}); background-position: bottom; height: 60px;">
    <p class="copyright">&copy;{{ site.time | date: "%Y" }},
    <a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.author }}</a>.</p>
</footer>
